server {
    listen 80;

    root /usr/share/nginx/html;

    # Clean URL for login page
    location = /login {
        try_files /login.html =404;
    }

    # Clean URL for products page
    location = /products {
        try_files /products.html =404;
    }

    # Default route (root)
    location = / {
        try_files /login.html =404;  # serve login.html at /
    }

    # API reverse proxies
    location /user {
        proxy_pass http://user-service:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /product {
        proxy_pass http://product-service:8081/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /order {
        proxy_pass http://order-service:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
