proxy_cache_path /var/cache/nginx/product_cache levels=1:2 keys_zone=product_cache:10m max_size=100m inactive=10m use_temp_path=off;

server {
    listen 80;

    root /usr/share/nginx/html;

    # Default page
    location = / {
        try_files /index.html =404;
    }

    # Serve HTML files with clean URLs
    location = /login {
        try_files /login.html =404;
    }

    location = /products {
        try_files /products.html =404;
    }

    location = /orders {
        try_files /orders.html =404;
    }

    location = /users {
        try_files /users.html =404;
    }

        location = /payments {
        try_files /payments.html =404;
    }

    # Reverse proxy API endpoints
    location /user/ {
        proxy_pass http://user-service:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /product/ {
        proxy_pass http://product-service:8081/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location ^~ /product/api {
        proxy_cache product_cache;
        proxy_cache_valid 200 30s;
        proxy_cache_methods GET HEAD;
        proxy_cache_key "$scheme$host$request_uri";
        proxy_ignore_headers X-Accel-Expires Expires Cache-Control Set-Cookie;

        proxy_pass http://product-service:8081/api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        add_header X-Proxy-Cache $upstream_cache_status; 

        proxy_cache_lock on;
        proxy_cache_lock_timeout 10s;   # optional, good practice
        proxy_cache_lock_age 10s;    # optional
    }


    location /order/ {
        proxy_pass http://order-service:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    
    location /order/ {
        proxy_pass http://payment-service:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    # Catch-all fallback (optional SPA fallback)
    location / {
        try_files $uri /index.html;
    }
}
